@import "../../variables";

p {
  b {
    font-family: 'Poiret one', serif;
    font-size: x-large;
    color: $main-color;
  }
}

.form-area {
  form {
    h3 {
      color: $main-color;
      font-family: 'Poiret one', serif;
      font-size: xx-large;
    }
  }
}
