@import "../../variables";

.about-p {
  border-left: solid 1px #eee;
}

.gallery-up {
  transition: none;
  position: absolute;
  display: none;
  z-index: 2;
  opacity: 0;
  color: $main-color;
  text-shadow: 2px 2px $d-main-color;
}

#gallery {
  .nav-pills {
    position: sticky;
    top: 5em;
    list-style: none;
    li {
      border-radius: 0;
      color: $d-main-color;
      width: 100%;
      display: block;
      padding: 1rem;
      cursor: pointer;
      &.active {
        color: $text-main-color-light;
        background-color: $d-main-color;
        @include box-shadow(0.2);
        &:first-child {
          border-radius: 1em 0 0 0;
        }
        &:last-child {
          border-radius: 0 0 0 1em;
        }
        &:focus,
        &:active,
        &:hover {
          color: $text-main-color-light;
          background-color: $d-main-color;
        }
        @include xs() {
          border-radius: 2px;
          &:active,
          &:focus,
          &:hover {
            border-radius: 2px;
          }
        }
      }
    }
    @include xs() {
      z-index: 1;
      background-color: $main-color;
      li {
        a {
          color: $text-main-color-light;
        }
      }

      padding: 0;
    }
    @include sm() {
      position: relative;
    }
  }
  .gallery-active {
    padding: 1em;
    min-height: 40vh;
    max-height: 80vh;
    overflow: auto;
    margin-right: 3rem;
    @include box-shadow-inset();
  }
  .zoom-gallery {
    z-index: 0;
    a {
      .polaroid {
        padding: 5px 5px 20px 5px;
        margin-bottom: 1%;
        border: solid 1px $d-main-color-light;
        -webkit-box-shadow: 3px 3px 3px #777;
        -moz-box-shadow: 3px 3px 3px #777;
        box-shadow: 3px 3px 3px #777;
      }
    }
  }
  @include xs() {
    padding: 0;
  }
}

.map {
  color: $main-color;
  padding: 0;
  height: auto;
  iframe {
    height: 600px;
    width: 100%;
  }
  .fa-lg {
    font-size: 70px;
    padding: 0 50%;
    margin: 10% 0;
    .fa-map-marker {
      color: $main-color-light;
    }
  }
  .btn-map {
    font-family: 'Poiret One', serif;
    transition: $main-transition;
    background: $main-color;
    color: $text-main-color-light;
    border-radius: 0;
    margin: 0;
    font-size: x-large;
    &:hover,
    &:active,
    &:focus {
      background-color: $d-main-color;
      color: $darker-main-color;
    }
    .arrow {
      transition: transform 0.3s ease-in-out;
      transform: rotate(0deg);
      border: none;
    }
    .arrow-active {
      transform: rotateX(180deg);
    }
  }
  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: height $main-transition;
    -moz-transition: height $main-transition;
    -o-transition: height $main-transition;
    -ms-transition: height $main-transition;
    transition: height $main-transition;
  }
}
