@import "../../variables";

a {
  text-decoration: none !important;
}

.page-header {
  padding: 1em;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
  color: $text-main-color-light;
  font-family: 'Poiret One', serif;
  background: $main-color-light url(../../assets/img/gallery/header.jpg) no-repeat bottom;
  background-size: cover;
  overflow: hidden;
  b {
    color: $main-color;
  }
  h4 {
    color: $text-main-color-light;
    position: relative;
    z-index: 1;
    font-weight: bolder;
    line-height: 1.2;
    margin-bottom: 0;
    b {
      color: $text-main-color-light;
    }
  }
  h1 {
    position: relative;
    z-index: 1;
    margin-bottom: 1rem;
    //font-size: 2rem;
  }
  .corner-header {
    -webkit-filter: blur(25px);
    filter: blur(25);
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    color: $t-main-color-dark;
    border-color: $t-main-color-dark;
    border-top: 250px solid;
    border-right: 50rem solid transparent;
    z-index: 0;
  }
}

.page-navbar {
  font-family: 'Lobster', serif;
  background: $main-color none;
  border-color: transparent;
  border-radius: 10px 10px 0 0;
  border-bottom: solid 7px $d-main-color;
  z-index: 100;
  font-size: larger;
  position: sticky;
  top: 0;
  @include box-shadow(0.75);
  .navbar-brand > .brand-logo {
    max-height: 2rem;
  }
  .navbar-collapse {
    .navbar-item {
      color: $text-main-color-light;
      text-shadow: none;
      transition: $main-transition;
      background-color: $main-color;
      &:hover,
      &:active,
      &:focus {
        color: $d-main-color;
      }
      &.active {
        transition: $main-transition;
        color: $text-main-color-light;
        background: transparent none;
        box-shadow: none;
        border-bottom: solid 2px $d-main-color;
        &:focus,
        &:hover,
        &:active {
          color: $darker-main-color;
          background: transparent none;
          box-shadow: none;
        }
      }
      .dropdown-menu {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: none;
        padding: 0;
        position: absolute;
        left: 4px;
        background: $main-color;
        z-index: 1001;
        @include box-shadow();
        &::before {
          content:"\A";
          border-style: solid;
          border-width: 0 10px 15px 10px;
          border-color: transparent transparent $d-main-color transparent;
          position: absolute;
          top: -15px;
        }
        .dropdown-item {
          text-align: center;
          color: $text-main-color-light;
          transition: $main-transition;
          &:hover,
          &:focus,
          &:active {
            background: $d-main-color none;
            color: $darker-main-color;
            box-shadow: none;
          }
          @include xs() {
            color: $text-main-color-light;
          }
        }
      }
      a {
        color: currentColor;
        text-shadow: none;
        transition: none;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
          text-shadow: none;
          color: currentColor;
        }
      }
      @include xs() {
        background-color: $main-color;
        transition: $main-transition;
        &:hover,
        &:active,
        &:focus {
          background-color: $d-main-color;
          border: solid 1px transparent;
          color: $darker-main-color;
        }
      }
    }
  }
  .navbar-header {
    z-index: 1;
    .navbar-toggle {
      transition: $main-transition;
      background: $main-color;
      border-color: $darker-main-color;
      color: $d-main-color;
      &:active,
      &:focus,
      &:hover {
        background: $darker-main-color;
        border-color: $darker-main-color;
        color: $main-color-light
      }
    }
    .navbar-brand {
      transition: $main-transition;
      text-shadow: none;
      color: $darker-main-color;
      &:active,
      &:focus,
      &:hover {
        color: $text-main-color-light;
      }
      .brand-logo {
        width: 30px;
        bottom: 6px;
        position: relative;
      }
    }
  }
  .corner-right {
    position: absolute;
    z-index: 0;
    width: 0;
    height: 0;
    bottom: -26px;
    right: 0;
    border-top: 20px solid;
    border-color: $darker-main-color;
    border-right: 20px solid transparent;
  }
  .corner-left {
    position: absolute;
    z-index: 0;
    width: 0;
    height: 0;
    bottom: -26px;
    left: 0;
    border-top: 20px solid;
    border-color: $darker-main-color;
    border-left: 20px solid transparent;
  }
  @include xs() {
    transform: scaleX(1);
    border-radius: 0;
  }
  @include sm() {
    transform: scaleX(1.065);
  }
  @include md() {
    transform: scaleX(1.055);
  }
  @include lg() {
    transform: scaleX(1.04);
  }
}
