@import "../../variables";

footer {
  @include box-shadow();
  .corner-footer-right {
    color: $darker-main-color;
    border-left: solid transparent;
    border-bottom: solid;
    position: absolute;
    left: 0;
    z-index: 0;
  }
  .corner-footer-left {
    color: $darker-main-color;
    border-right: solid transparent;
    border-bottom: solid;
    position: absolute;
    right: 0;
    z-index: 0;
  }
  .footer {
    border-top: 4px solid $d-main-color;
    font-family: 'Poiret One', serif;
    padding: 1em;
    background-color: $main-color;
    color: $text-main-color-light;
    z-index: 1;
    @include xs() {
      background-color: $d-main-color;
      border-top: 4px solid $darker-main-color;
      color: $text-main-color-light;
      ul {
        li {
          color: $text-main-color-light;
          font-weight: bolder;
        }
      }
    }
  }
}
